Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*font: -gohu-gohufont-medium-r-normal--11-80-100-100-c-60-iso10646-1

XTerm*selectToClipboard: true