!! Not necessary for high-res screens
!Xft.autohint: false
Xft.autohint: true
!! High Dots Per Inch: Display dependent, not sure yet
!Xft.dpi: 96
!! Keep true: Fixes high res images at low resolutions
!Xft.antialias: true
!Xft.rgba: rgb
!Xft.hinting: true
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

Xterm*faceName: lemon
!Xterm*font: lemon
Xterm*faceSize: 10
!Xterm.font: xft:lemon:size=12
!Xterm.boldfont: false
!Xterm*letterSpace: 0

Xterm*selectToClipboard: true
XTerm*pointerColor: #16A085

! special
*.foreground:   #c8c8bd
*.background:   #1d201f
*.cursorColor:  #c8c8bd

! black
*.color0:       #2e312f
*.color8:       #807e6a

! red
*.color1:       #91a074
*.color9:       #c8bfaf

! green
*.color2:       #a09483
*.color10:      #bcc861

! yellow
*.color3:       #a09453
*.color11:      #c8c0ad

! blue
*.color4:       #889ca0
*.color12:      #c8bc98

! magenta
*.color5:       #9ca087
*.color13:      #b9c88d

! cyan
*.color6:       #d5baa0
*.color14:      #c8c8bd

! white
*.color7:       #a99987
*.color15:      #c8be63

! Nature
!*background:            #272827
!*foreground:            #657b83
!*fading:                15
!*fadeColor:             black
!*cursorColor:           #16A085
!*pointerColorBackground:#2B2C2B
!*pointerColorForeground:#16A085
!
!! special
!*.foreground:   #bfbfbf
!*.background:   #162025
!*.cursorColor:  #bfbfbf
!
!! black
!*.color0:       #0f1619
!*.color8:       #5d6160
!
!! red
!*.color1:       #393843
!*.color9:       #662b37
!
!! green
!*.color2:       #75404b
!*.color10:      #39402e
!
!! yellow
!*.color3:       #39402e
!*.color11:      #393843
!
!! blue
!*.color4:       #56694d
!*.color12:      #75404b
!
!! magenta
!*.color5:       #4c584a
!*.color13:      #662b37
!
!! cyan
!*.color6:       #662b37
!*.color14:      #4c584a
!
!! white
!*.color7:       #bfbfbf
!*.color15:      #bfbfbf
!
!
!Xcursor.theme: Breeze
!Xcursor.size:  0

! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

!! --- special colors ---
!
!*background: #262626
!*foreground: #d9e6f2
!
!! --- standard colors ---
!
!! black
!*color0: #000000
!
!! bright_black
!*color8: #262626
!
!! red
!*color1: #9c8084
!
!! bright_red
!*color9: #ebe8e0
!
!! green
!*color2: #8f9978
!
!! bright_green
!*color10: #ebe8e0
!
!! yellow
!! *color3: #8f9978
!*color3: #9c8c78
!
!! bright_yellow
!*color11: #ebe8e0
!
!! blue
!*color4: #838c91
!
!! bright_blue
!*color12: #ebe8e0
!
!! magenta
!*color5: #8f8091
!
!! bright_magenta
!*color13: #ebe8e0
!
!! cyan
!*color6: #839984
!
!! bright_cyan
!*color14: #ebe8e0
!
!! white
!*color7: #a5a5a5
!
!! bright_white
!*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------
